* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    font-size: 45px;
}

.color-orrange {
    color: #FD6E0A;
}


/*shared-style*/
.font-opensans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h1 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

/*main-style*/
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;

}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav .gojo {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.banner {

    margin: 46px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content h4 {
    font-size: 47px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner h2 {
    font-size: 85px;
    font-weight: bold;
    color: black;
    border-bottom: 20px;
}

.banner-content p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;


}

.banner-content {
    max-width: 585px;
}

.banner-image {
    vertical-align: middle;
    max-width: 585px;
}

#about {
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;

    margin: 0 auto;


}

#about .about-container {

    margin: o auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}

.about-info {
    display: flex;
    max-width: 782px;
    justify-content: center;
    text-align: center;
    column-gap: 50px;
}

.info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

info-card h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}

.skills {
    padding-top: 130px;
}

.skill-container {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}

.skill-box {
    display: flex;

    gap: 24px;

}

.skill-card {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #00000011;
    width: 267px;
}

.skill-card img {
    width: 44px;
    margin-bottom: 30px;
}

.skill-card h2 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    line-height: 18px;
    color: #181818;
}

.resume {
    padding-top: 130px;
}

.resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    padding-top: 113px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;

}

.resume-card {
    max-width: 511px;
    margin-right: 71px;
}

.card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

.resume-container hr {
    margin-bottom: 30px;
    margin-top: 30px;
}

.text-center {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px;
}

.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 117px;
    display: flex;

}

.social {
    max-width: 562px;
    width: 71%;
}

.footer-container h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.form-container {
    max-width: 461px;

}

.footer-container p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.icon a {
    margin-right: 24px;
}

.form-container .x {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;



}